.menu-input {
  width: 100%;
  text-align: center;
  background-color: #333;
  height: 90vH;
  padding: 10px;
  color: #fff;
  position: relative;
}

.menu-input input {
  width: 350px;
  height: 30px;
  margin: 0 auto;
}

.menu-input a {
  text-decoration: underline;
}

.menu-input a:hover {
  color: #1db954;
}

.menu-save-btn {
  position: absolute;
  bottom: 20px;
  right: 50px;
  cursor: pointer;
}

.warning {
  color: #ff4545;
  display: none;
}

.show {
  display: block;
}