.time-range {
  width: 100%;
  height: 2px;
  margin: 0 0 15px 0;
  background-color: #2f4353;
  background-image: linear-gradient(to left, #2f4353 0%, #d2ccc4 74%);
  appearance: none;
}

.time-range:focus {
  outline: none;
}

.time-range:hover {
  cursor: pointer;
}

.time-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  background: #2f4353;
}