.wrapper {
  width: 400px;
  height: 150px;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.electron-window {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.heading {
  font-weight: lighter;
}

.data-wrapper {
  display: flex;
  padding-right: 20px;
}

.drag-container {
  height: 100%;
  width: 4%;
  position: absolute;
  right: 0;
  z-index: 1;
  -webkit-app-region: drag;
}

#popover {
  position: absolute;
  right: 2%;
  bottom: 28%;
  background-color: rgb(63, 67, 70);
  height: 100px;
  width: 100px;
  z-index: 100;
  border-radius: 5px;
  text-wrap: wrap;
  /* padding: 0px 8px; */
  overflow: scroll;
}

#popover ul {
  list-style: none;
  padding: 5px;
  margin: 0;
}

#popover ul li {
  font-size: 14px;
  color: rgba(250, 250, 250, 0.6);
  padding: 3px;
}

#popover ul li.selected {
  color: rgba(250, 250, 250, 1);
  font-weight: bold;
}

#popover ul li:hover {
  background-color: rgb(79, 84, 87);
  border-radius: 5px;
}

.box-shadow-3d {
  box-shadow: 1px 1px 0px rgba(101, 107, 107, 0.6),
    2px 2px 0px rgba(101, 107, 107, 0.5),
    3px 3px 0px rgba(101, 107, 107, 0.4),
    4px 4px 0px rgba(101, 107, 107, 0.3);
}

.info-wrapper {
  width: 70%;
  align-self: center;
  margin-top: -20px;
}

.menu {
  color: white;
  float: right;
  margin-top: 10px;
  margin-right: 10px;
  font-size: 1.3em;
}

.warning {
  color: #ff4545;
  display: none;
}

.show {
  display: block;
}

.menu {
  position: absolute;
  right: 2%;
}

.fa-list {
  color: hsl(207, 28%, 50%);
}

.fa-list:hover {
  color: hsl(207, 28%, 25%);
}

.menu-input {
  width: 100%;
  text-align: center;
  background-color: #333;
  height: 90%;
  padding: 10px;
  color: #fff;
  position: relative;
}

.menu-input input {
  width: 350px;
  height: 30px;
  margin: 0 auto;
}

.menu-input a {
  text-decoration: underline;
}

.menu-input a:hover {
  color: #1db954;
}

.menu-save-btn {
  position: absolute;
  bottom: 20px;
  right: 50px;
  cursor: pointer;
}