body {
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%) /* , url("./assets/transparent.png") */;
  font-family: 'proxima-nova', 'Lato', sans-serif;
  margin: 0;
  height: 100vH;
  user-select: none;
  -webkit-user-select: none;
  overflow: hidden;
}

.fa {
  color: rgba(255, 255, 255, 0.7);
  /* text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5); */
}

.fa:hover {
  color: rgba(255, 255, 255, 1);
}